.zodiac {
  position: relative;
  width: 100%;
  user-select: none;
}

.zodiac-inner {
  width: 100%;
}

.zodiac-track,
.zodiac-inner {
  overflow: hidden;
}

.zodiac-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  touch-action: pan-y;
  cursor: grab;
  transition: transform 0s ease 0s;
  will-change: transform;

  &.dragging {
    cursor: grabbing;
    transition: none;
  }
}

.zodiac-controls {
  position: absolute;
}

.zodiac-live-region {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
